# System files
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# IDE settings
.idea/
.vscode/
*.sln.iml

# Build output
**/bin/
**/obj/
**/publish/

# User files
*.user
*.userosscache
*.suo
*.userprefs

# Logs
*.log

# ReSharper
_ReSharper*/

# Frontend
node_modules/
package-lock.json
package.json

# ASP.NET scaffolding
ScaffoldingReadMe.txt

# Sensitive config
**/appsettings.Development.json